<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser Microservice</title>
    <meta name="description" content="FreeCodeCamp Back-End challenge">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="text-center">
          Request Header Parser Microservice
        </h1>
        <p class="text-center">
          Microservice to parse request headers
        </p>
      </header>
      
      <main>
        <h3>
          Usage:
        </h3>
        <p>
          Runs on port 3000 by default or PORT env variable if set.
        </p>
        <p>
          <code>
            [URL]/api/whoami/
          </code>
        </p>
        
        <p>
          Responds with:
        </p>
        <p>
        <pre>
          {
            "ipaddress": your public ip address,
            "language": your language,
            "software": your operating system
          }
        </pre>
        <br>
        </p>
      <br>
      
      <h3>
        Usage link:
      </h3>
      <br>
      <a href="https://fanatical-ticket.glitch.me/api/whoami/" target="_blank"><code>https://fanatical-ticket.glitch.me/api/whoami/</code></a>
      </main>
      
      <footer>
        You can see code <a href="https://github.com/Corsair909/request-header-parser-microservice" target="_blank">here</a>
      </footer>
    </div>
  </body>
</html>
